<nav class="navbar navbar-light bg-light" xmlns:th="https://www.thymeleaf.org/">
    <a class="navbar-brand" href="/">Taskmanager</a>
    <ul class="nav navbar">
        <li class="nav-item"><a class="nav-link" href="/tasks" th:text="#{tasks}"></a></li>
        <li class="nav-item"><a class="nav-link" href="/tasks/new" th:text="#{new_task}"></a></li>
        <li class="nav-item">
            <ul><a class="nav-link" href="?lang=en">English</a></ul>
            <ul><a class="nav-link" href="?lang=nl">Nederlands</a></ul>
        </li>
    </ul>
</nav>