<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
<div th:replace="fragments/header"></div>
<h1 th:text=" #{add_subtask} +': ' + ${task.getTitle()}"></h1>
<form method="POST" th:action="'/tasks/newSubTask/' + ${task.getId()}">
    <div class="form-group">
        <label for="title" th:text="#{title}"></label>
        <input type="text" name="title" th:placeholder="#{title}">
    </div>
    <div class="form-group">
        <label for="description" th:text="#{description}"></label>
        <input type="text" name="description" th:placeholder="#{description}">
    </div>
    <div class="form-group">
        <label for="date" th:text="#{date}"></label>
        <input type="datetime-local" name="date">
    </div>
    <input type="hidden" name="mainTaskId" th:value="${task.getId()}">
    <input type="submit" class="btn btn-primary" th:value="#{submit}">
</form>
</body>
</html>