<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
<div th:replace="fragments/header"></div>
<main>
    <h1>Taskmanager</h1>
    <p th:text="#{welcome}"></p>
    <a href="/tasks"><button class="btn btn-success" th:text="#{task_button}"></button></a>
</main>


</body>
</html>