<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
<div th:replace="fragments/header"></div>
<h1 th:text="#{tasks}"></h1>
<a class="btn btn-success" href="/tasks/new" role="button" th:text="#{new_task}"></a>
<div th:switch="${tasks.size()}">
    <p th:case="0" th:text="#{no_tasks_left}"></p>
    <table class="table" th:case="*">
        <thead>
        <tr>
            <th scope="col" th:text="#{title}"></th>
            <th scope="col" th:text="#{description}"></th>
            <th scope="col" th:text="#{date}"></th>
            <th scope="col" th:text="#{edit}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td class="mr-2" th:text="${task.title}"></td>
            <td th:text="'due ' + ${task.getFormattedDate()}"></td>
            <td><a class="btn btn-primary" th:href="'/tasks/' + ${task.id}" role="button" th:text="#{details}"></a></td>
            <td><a class="btn btn-warning" th:href="'/tasks/edit/' + ${task.id}" role="button" th:text="#{edit}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>