<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
<div th:replace="fragments/header"></div>
<h1 th:text="#{task_detail}"></h1>
<div th:switch="${task}">
    <h3 th:case="null" th:text="#{task_not_found}"></h3>
    <div th:case="*">

        <h3 th:text="#{task} + ': ' + ${task.title}"></h3>
        <h3 th:text="#{description}+': ' + ${task.description}"></h3>
        <h3 th:text="#{date}+': ' + ${task.date}"></h3>
        <div th:switch="${subtasks.size()}">
            <p th:case="0" th:text="#{no_subtasks_found}"></p>
            <table class="table" th:case="*">
                <h3 th:text="#{subtasks}"></h3>
                <thead>
                <tr>
                    <th scope="col" th:text="#{title}"></th>
                    <th scope="col" th:text="#{description}"></th>
                    <th scope="col" th:text="#{date}"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${subtasks}">
                    <td class="mr-2" th:text="${task.title}"></td>
                    <td class="mr-2" th:text="${task.description}"></td>

                    <td th:text="'due ' + ${task.getFormattedDate()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-success" th:href="'/tasks/' + ${task.id} + '/sub/create'" role="button" th:text="#{new_subtask}"></a>
    </div>
</div>
</body>
</html>